@import 'global';


#main {
    width: 90%;
    max-width: 1000px;
    height: auto;
    margin: 1rem auto;
    padding: 2rem 1rem;
    background: $gray;
    border-radius: 5px;

    display: grid;
    gap: 2rem 0.5rem;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr 8fr 1fr;

    &__header {
        grid-column: 2 / 3;
        @include flexCenter(column, wrap);
        padding: 1rem;

        #title {
            font-size: 2.5rem;
        }
    }
    #img-div {
        background: $white;
        grid-column: 1 / -1;
        height: 500px;
        padding: 0.5rem;
        border-radius: 5px;

        #image {
            width: 100%;
            height: 90%;
            object-fit: cover;
            display: block;
            border-radius: 10px;
        }
        #img-caption {
            height: 10%;
            @include flexCenter(row, wrap);
        }
    }
    #tribute-info {
        grid-column: 2 / 3;
        min-height: 300px;
        column-count: 2;
        column-gap: 3rem;
        column-width: 250px;

        &__header {
            font-size: 2rem;
            line-height: 2;
            column-span: all;
            text-align: center;
            margin-bottom: 2rem;
            
            &::after {
                content: '';
                width: 30%;
                margin: 0 auto;
                height: 1px;
                background: $black;
                display: block;
            }
        }
        p {
            margin-bottom: 1rem;
        }
    }

    blockquote.quote-big {
        grid-column: 2 / 3;
        font-size: 1.25rem;
        .name {
            float: right;
            margin-top: 1.5rem;
            font-size: 1rem;
            font-style: normal;
        }
    }

    &__footer {
        grid-column: 2 / 3;
        text-align: center;

        a {
            text-decoration: none;
            color: steelblue;
        }
    }

    
}



@media screen and (max-width: 600px) {
    #main {
        width: 94%;
    
        &__header {
            text-align: center;
        }
    }
}